body{
    background-image: url("HNY.avif");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
    height: 95vh;
    color: azure;
    text-align: center;
    justify-content: center;
}